{% extends './base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <header>
        <div class="p-5 text-center bg-image"
             style="background-image: url('{{ vich_uploader_asset(liste, 'imageFile') }}'); ">
            <div class="p-5 text-center bg-body-tertiary">
                <div class="text-white">
                    <h1 class="mb-3">{{ liste.title }}</h1>
                    <h2 class="mb-3">{{ liste.description }}</h2>
                </div>
            </div>
        </div>
    </header>

    <div class="d-flex">
        <h2>Lien de partage :</h2>
        <p><a href="{{ path('list_share', {'id': liste.id}) }}">Partager cette liste</a></p>
    </div>

    <div class="d-flex">
        <p>Cette liste a été créée le {{ liste.dateOuveture ? liste.dateOuveture|date('Y-m-d') : '' }} dans le thème
            de {{ liste.theme }}</p>
    </div>

    {% if gift is empty %}
        <a href="{{ path('create_gift', {'listeId': liste.id}) }}">Ajouter vos cadeaux ici</a>
    {% else %}
        {% for gift in liste.getGiftId() %}
                <a href="{{ path('app_gift_show', {'id': gift.id}) }}">{{ gift.Name }}</a>
                { gift.Price }}
                {% if gift.imageFile is defined %}
                    <img src="{{ vich_uploader_asset(gift, 'imageFile') }}" alt="{{ gift.imageName }}">
                {% else %}
                    <img src="{{ gift.imageName }}" alt="{{ gift.imageName }}">
                {% endif %}
                {#                <td><a href="{{ path('app_gift_show', {'id': gift.id}) }}">Lien du cadeau</a></td> #}
        {% endfor %}
    {% endif %}

    {% if app.user is same as liste.userId %}

        <a href="{{ path('app_liste_index') }}">back to list</a>

        <a href="{{ path('app_liste_edit', {'id': liste.id}) }}">edit</a>

        {{ include('liste/_delete_form.html.twig') }}
        <a href="{{ path('create_gift', {'listeId': liste.id}) }}">Ajouter un nouveau cadeau</a>

        <a href="{{ path('archive_liste', {'id': liste.id}) }}" type="button"> Archiver la liste</a>

    {% endif %}
    {#    <a href="{{ path('app_gift_new') }}">Ajouter un nouveau cadeau</a> #}

    <p>{{ liste.dateFinOuverture ? 'liste close le ' + liste.dateFinOuverture|date('Y-m-d') : '' }}</p>
{% endblock %}
