{% extends './base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <h1>Liste</h1>

    <h2>Lien de partage :</h2>
    <p><a href="{{ path('list_share', {'id': liste.id}) }}">Partager cette liste</a></p>

    <table class="table">
        <tbody>
        <tr>
            <th>Title</th>
            <td>{{ liste.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ liste.description }}</td>
        </tr>
        <tr>
            <th>Cover</th>
            <td>{{ liste.cover }}</td>
        </tr>
        <tr>
            <th>Theme</th>
            <td>{{ liste.theme }}</td>
        </tr>
        <tr>
            <th>Date_ouveture</th>
            <td>{{ liste.dateOuveture ? liste.dateOuveture|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Date_fin_ouverture</th>
            <td>{{ liste.dateFinOuverture ? liste.dateFinOuverture|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>

    {% if gift is empty %}
        <a href="{{ path('create_gift', {'listeId': liste.id}) }}">Ajouter vos cadeaux ici</a>
    {% else %}
        <table>
        <tbody>
        <thead>
        <td>Id</td>
        <td>Name</td>
        <td>Price</td>
        <td>Image</td>
        <td>Accéder au cadeau</td>
        </thead>
        {% for gift in liste.getGiftId() %}
            <tr>
                <td>{{ gift.id }}</td>
                <td><a href="{{ path('app_gift_show', {'id': gift.id}) }}">{{ gift.Name }}</a></td>
                <td>{{ gift.Price }}</td>
                <td>{{ gift.Image }}</td>
{#                <td><a href="{{ path('app_gift_show', {'id': gift.id}) }}">Lien du cadeau</a></td>#}
            </tr>
            </tbody>
            </table>
            </table>
        {% endfor %}
    {% endif %}

    {% if app.user is same as liste.userId  %}

    <a href="{{ path('app_liste_index') }}">back to list</a>

    <a href="{{ path('app_liste_edit', {'id': liste.id}) }}">edit</a>

    {{ include('liste/_delete_form.html.twig') }}
    <a href="{{ path('create_gift', {'listeId': liste.id}) }}">Ajouter un nouveau cadeau</a>

        <a href="{{ path('archive_liste', {'id': liste.id}) }}" type="button"> Archiver la liste</a>

    {% endif %}
    {#    <a href="{{ path('app_gift_new') }}">Ajouter un nouveau cadeau</a> #}

{% endblock %}
